@charset "UTF-8";

body{
    background-color: rgb(102, 102, 102);
    background-image: url(https://images5.alphacoders.com/521/thumb-1920-521476.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    

}